
html,
body{
	position: relative;
	min-height: 100vh;
}







.alert-wrapper{
	position: fixed;
	top: 29px;
	width: 500px;
	left: 50%;
	margin-left: -250px;
	z-index: 2138902138;
}
.alert{
  position: relative;
  max-width: 500px;
  margin: 0 auto;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.center-outside{
	position: relative;
	top: 0;
	bottom: 0;
	min-height: 100vh;
	width: 100%;
	padding: 20px;
	overflow: auto;

	display: flex;
	justify-content: center;
	align-items: center;

	background-image: url(https://i.ytimg.com/vi/AM7YwOlKMBE/maxresdefault.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;	

}
.center-inside{
	width: 500px;
	background: white;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}