{% extends 'layout.html' %}
{% block content %}

  <title>{{ title }}</title>

  <div class="container">
    <div class="row">
      <div class="col-12">

        <h2>All events.</h2>

        <div class="background-fullscreen">
        <div class="center">

        <form method="POST" action="">
          {{ form.hidden_tag() }}

          <div class="form-group">
            {{ form.eventname.label(class="form-control-label") }}
            {% if form.eventname.errors %}
              {{ form.eventname(class="form-control form-control is-invalid") }}
              <div class="invalid-feedback">
              {% for error in form.eventname.errors %}
                <span>{{ error }}</span>
              {% endfor %}
              </div>
            {% else %}
              {{ form.eventname(class="form-control form-control") }}
            {% endif %}
          </div>

          <div class="form-group">
            {{ form.tag.label(class="form-control-label") }}
            {% if form.tag.errors %}
              {{ form.tag(class="form-control form-control is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.tag.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.tag(class="form-control form-control") }}
            {% endif %}
          </div>

          <div class="form-group">
            {{ form.discription.label(class="form-control-label") }}
            {% if form.discription.errors %}
              {{ form.discription(class="form-control form-control is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.discription.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.discription(class="form-control form-control") }}
            {% endif %}
          </div>

          <div class="form-group">
            {{ form.venue.label(class="form-control-label") }}
            {% if form.venue.errors %}
              {{ form.venue(class="form-control form-control is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.venue.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.venue(class="form-control form-control") }}
            {% endif %}
          </div>

          <div class="form-group">
            {{ form.eventstartingdate.label(class="form-control-label" ) }}
            {% if form.eventstartingdate.errors %}
              {{ form.eventstartingdate(class="form-control form-control is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.eventstartingdate.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.eventstartingdate(type="date") }}
            {% endif %}
          </div>

          <div class="form-group">
            {{ form.eventendingdate.label(class="form-control-label") }}
            {% if form.eventendingdate.errors %}
              {{ form.eventendingdate(class="form-control form-control is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.eventendingdate.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.eventendingdate(type="date") }}
            {% endif %}
          </div>

          
          <div class="form-group">
          {{ form.submit(class="btn btn-primary btn-block") }}
          </div>
          </div>
          </div>

        </from>

    </div>
  </div>
{% endblock content %}