{% extends 'layout.html' %}
{% block content %}
<div class="background-fullscreen">
    <div class="center">
<p>
API info:
<table class="table">
        <tr>
            <td>
                Discription
            <td/>
            <td>
                Post-adress
            </td>
            <td>
                attributes:
            </td>
        </tr>
        <tr>
            <td>Add event to database<td/><td>/addevent</td><td>
                eventname:
                tag:
                discription:
                eventstartingtime:
                eventendingtime:
            </td>
        </tr>
</table>
</P>

    </div>
</div>
{% endblock content %}