{% extends 'layout.html' %}
{% block content %}

  <title>{{ title }}</title>

	<div class="container">
	  <div class="row">
	    <div class="col-12">

	    	<h2>Pick the events you like {{ current_user.username }}.</h2>

	    	<table class="table table-striped">
	    		<thead>
	    		  <tr>
	    		    <th>#</th>
	    		    <th>First</th>
	    		    <th>Last</th>
	    		    <th>Handle</th>
	    		    <th>Favourite</th>
	    		  </tr>
	    		</thead>
	    		<tbody>
	    			{% for event in events %}
	    				<tr>
								<td>{{ event.eventname }}</td>
								<td>{{ event.eventstartingdate.strftime('%y-%m-%d') }}</td>
								<td>{{ event.eventendingdate.strftime('%y-%m-%d') }}</td>
								<td>{{ event.discription }}</td>
								<td><input type="checkbox" name={{ event.eventname }} value={{ event }}></td>
	    		    </tr>
	    			{% endfor %}
	    	  </tbody>
	    	</table>

	    </div>
	  </div>
	</div>

{% endblock content %}