<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">

</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="#">Flappydisk</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
      	{% if current_user.is_authenticated %}
        	<li class="nav-item"><a href="{{ url_for('home')}}" class="nav-link">Home</a></li>
        	<li class="nav-item"><a href="{{ url_for('home')}}" class="nav-link">Optimizer</a></li>
          <li class="nav-item"><a href="{{ url_for('events')}}" class="nav-link">Events</a></li>
          <li class="nav-item"><a href="{{ url_for('addevents')}}" class="nav-link">Create events</a></li>
        	<li class="nav-item"><a href="{{ url_for('account')}}" class="nav-link">Account</a></li>
          <li class="nav-item"><a href="{{ url_for('home')}}" class="nav-link">About</a></li>
        	<li class="nav-item"><a href="{{ url_for('logout')}}" class="nav-link">Logout</a></li>
      	{% else %}
        	<li class="nav-item"><a href="{{ url_for('home')}}" class="nav-link">Home</a></li>
        	<li class="nav-item"><a href="{{ url_for('home')}}" class="nav-link">About</a></li>
        	<li class="nav-item"><a href="{{ url_for('login')}}" class="nav-link">Login</a></li>
      	{% endif %}
	    </ul>
	  </div>
	</nav>

	


  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert-wrapper">
          <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  {% block content %} {% endblock content %}

	<!-- <script src="main.js"></script> -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>