{% extends "layout.html" %}
{% block content %}

  <title>{{ title }}</title>

  <div class="center-outside">
    <div class="center-inside">
      
      <h1>Login to the optimizer!</h1>
      <div class=content-section>
        <form method="POST" action="">
          {{ form.hidden_tag() }}
          <fieldset class="form-group">
            <legend>Try it out!</legend>
            <hr>

            <div class="form-group">
              {{ form.email.label(class="form-control-label") }}
              {% if form.email.errors %}
                {{ form.email(class="form-control form-control is-invalid") }}
                <div class="invalid-feedback">
                {% for error in form.email.errors %}
                    <span>{{ error }} </span>
                {% endfor %}
                </div>
              {% else %}
                {{ form.email(class="form-control form-control") }}
              {% endif %}
            </div>

            <div class="form-group">
              {{ form.password.label(class="form-control-label") }}
              {% if form.password.errors %}
                {{ form.password(class="form-control form-control is-invalid") }}
                <div class="invalid-feedback">
                {% for error in form.password.errors %}
                  <span>{{ error }} </span>
                {% endfor %}
                </div>
              {% else %}
                {{ form.password(class="form-control form-control") }}
              {% endif %}
            </div>

            <div class="form-check">
              {{ form.remember(class="form-check-input") }}
              {{ form.remember.label(class="form-check-label") }}
            </div>

    	    </fieldset>

    	    <div class="form-group">
            {{ form.submit(class="btn btn-primary btn-block") }}
          </div>

          <hr>

          <small class="text-muted">
            <a href="#">Forgot your password?</a>
            <span class="float-right">Need a account?<a class="ml-2" href="{{ url_for('register')}}">Register</a></span>
          </small>
        </form>
      </div>

    </div>
  </div>
{% endblock content %}
