{% extends "layout.html" %}
{% block content %}
  <title>{{ title }}</title>


  <div class="center-outside">
    <div class="center-inside">

      <div class=content-section>
        <form method="POST" action="">
          {{ form.hidden_tag() }}
          <fieldset class="form-group">
            <legend>Join the fun!</legend>
            <hr>

            <div class="form-group">
              {{ form.username.label(class="form-control-label") }}
              {% if form.username.errors %}
                {{ form.username(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                {% for error in form.username.errors %}
                  <span>{{ error }} </span>
                {% endfor %}
                </div>
              {% else %}
                {{ form.username(class="form-control form-control") }}
              {% endif %}
            </div>

            <div class="form-group">
              {{ form.firstname.label(class="form-control-label") }}
              {% if form.firstname.errors %}
                {{ form.firstname(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                {% for error in form.firstname.errors %}
                  <span>{{ error }} </span>
                {% endfor %}
                </div>
              {% else %}
                {{ form.firstname(class="form-control form-control") }}
              {% endif %}
            </div>

            <div class="form-group">
              {{ form.lastname.label(class="form-control-label") }}
              {% if form.lastname.errors %}
                {{ form.lastname(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                {% for error in form.lastname.errors %}
                  <span>{{ error }} </span>
                {% endfor %}
                </div>
              {% else %}
                {{ form.lastname(class="form-control form-control") }}
              {% endif %}
            </div>

            <div class="form-group">
              {{ form.email.label(class="form-control-label") }}
              {% if form.email.errors %}
                {{ form.email(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                {% for error in form.email.errors %}
                  <span>{{ error }} </span>
                {% endfor %}
                </div>
              {% else %}
                {{ form.email(class="form-control form-control") }}
              {% endif %}
            </div>

            <div class="form-group">
              {{ form.password.label(class="form-control-label") }}
              {% if form.password.errors %}
                {{ form.password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                {% for error in form.password.errors %}
                  <span>{{ error }} </span>
                {% endfor %}
              </div>
              {% else %}
                {{ form.password(class="form-control form-control") }}
              {% endif %}
            </div>

            <div class="form-group">
              {{ form.confirm_password.label(class="form-control-label") }}
              {% if form.confirm_password.errors %}
                {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                {% for error in form.confirm_password.errors %}
                  <span>{{ error }} </span>
                {% endfor %}
                </div>
              {% else %}
                {{ form.confirm_password(class="form-control form-control") }}
              {% endif %}
            </div>
          </fieldset>

          <div class="form-group">
            {{ form.submit(class="btn btn-primary btn-block") }}
          </div>

          <hr>
          
          <small class="text-muted">
            Already have an account?<a class="ml-2" href="{{ url_for('login')}}">Sign in</a>
          </small>
        </form>
      </div>

    </div>
  </div>
{% endblock content %}